<body>
    <footer class="footer">
        <section class="footer-section-content">
            <section class="logo-links-section">
                <!-- section 1 here -->
                <img src="../assets/news.jpg" alt="My logo">
                <h1>Footer Template</h1>
                <ul>
                    <li>About Us</li>
                    <li>Services</li>
                    <li>Selected Work</li>
                    <li>Get In Touch</li>
                </ul>
            </section>


            <section class="signup-section">
                <!-- section 3 and signup link here -->
                <h3>SUBSCRIBE</h3>
                <h4>Get monthly updates and free resources</h4>
                <article class="paper">
                    
                    <button>Subscribe</button>
                </article>

                <h5>Connect with Us</h5>
                <div class="social-media-links">
                    <!-- social icons here -->
                    <i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i>
                    <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                    <i class="fa fa-youtube fa-2x fa-fw" aria-hidden="true"></i>
                    <i class="fa fa-instagram fa-2x fa-fw" aria-hidden="true"></i>
                    <i class="fa fa-google-plus fa-2x fa-fw" aria-hidden="true"></i>
                </div>
            </section>

        </section>


        <hr>

       

    </footer>
</body>